@import "libs/normalize",
        "libs/bootstrap",
        "partials/constants";

body, html {
    padding: 0px;
    font-size: 10px;
    background-color: #fff;
    font-family: sans-serif;
}

h1 {
    color: $brown;
}

h2 {
    color: $brown;
}

h3 {
    color: $brown;
}

a:hover {
    text-decoration: none;
}



@import "partials/fonts",
        "partials/header",
        "partials/footer",
        "partials/thanks",
        "partials/homepage",
        "partials/enter";

