.entry-page {
	background: #fff url('../img/entry-bg.jpg') top center no-repeat;
	width: 100%;
	min-height: 2300px;
	@include breakpoint(medium) {
		// background-size: 1520px;
	}
	@include breakpoint(small) {
		// background-size: 1300px;
	}
	@include breakpoint(xsmall) {
		// background-size: 1000px;
	}
	@include breakpoint(xxsmall) {
		// background-size: 860px;
		// background-position-x: 42%;
	}

	.main {
		max-width: 960px;
		margin: 0 auto;
		.entry-form {
			max-width: 100%;
			text-align: center;
			.intro {
				margin: 20px auto 0;
				max-width: 423px;
				img {
					width: 100%;
				}
			}
		}
		.form-header {
			width: 100%;
			max-width: 750px;
			margin: 0 auto;
			margin-top: 480px;
			h1 {
				text-align: center;
				color: $brown;
				font-size: 3.5rem;
				font-family: "Neutra Text Bold", sans-serif;
				text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
			}
		}
		#entry-form {
			width: 100%;
			max-width: 750px;
			margin: 0 auto;
			margin-top: 70px;
			text-align: left;
			font-family: "Helvetica Neue LT Std", sans-serif;

			#under13-section {
				h2 {
					color: $brown;
					font-size: 3.2rem;
					font-family: "Neutra Text Bold", sans-serif;
				}
				p {
					font-family: "Neutra Text Bold", sans-serif;
					font-size: 1.8rem;
				}
				label {
					font-family: "Helvetica Neue LT Std", sans-serif;
					font-size: 1.8rem;
				}
				input[type="checkbox"] {
				    display:none;
				}
				input[type="checkbox"] + label span {
				    display:inline-block;
				    width:45px;
				    height:45px;
				    margin:-1px 4px 0 0;
				    vertical-align:middle;
				    background:url('../img/checkbox.png') left top no-repeat;
				    cursor:pointer;
				}
				input[type="checkbox"]:checked + label span {
				    background:url('../img/checkbox.png') left -45px no-repeat;
				}

			}

			#your-information-section {
				margin-bottom: 40px;
				h2 {
					color: $brown;
					font-size: 3.2rem;
					font-family: "Neutra Text Bold", sans-serif;
				}
				label {
					font-family: "Helvetica Neue LT Std", sans-serif;
					font-size: 2.0rem;
				}
				input {
					min-width: 266px;
					height: 36px;
					-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.4);
					-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.4);
					box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.4);
					border: none;
					font-size: 2rem;
					&#phone1 {
						min-width: 54px;
						margin-right: 15px;
					}
					&#phone2 {
						min-width: 54px;
						margin-right: 15px;
					}
					&#phone3 {
						min-width: 123px;
					}
				}
				.row {
					margin-bottom: 24px;
				}
			}

			#your-child-information-section {
				margin-bottom: 40px;
				h2 {
					color: $brown;
					font-size: 3.2rem;
					font-family: "Neutra Text Bold", sans-serif;
				}
				label {
					font-family: "Helvetica Neue LT Std", sans-serif;
					font-size: 2.0rem;
				}
				input {
					min-width: 266px;
					height: 36px;
					-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.4);
					-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.4);
					box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.4);
					border: none;
					font-size: 2rem;
				}

			}

			#rules-section {
				h2 {
					color: $brown;
					font-size: 3.2rem;
					font-family: "Neutra Text Bold", sans-serif;
				}
				p {
					font-family: "Helvetica Neue LT Std", sans-serif;
					font-size: 2rem;
					display: inline-block;
					a {
						text-decoration: underline;
						color: $black;
						&:hover {
							color: $brown;
						}
					}
				}
				label {
					font-family: "Helvetica Neue LT Std", sans-serif;
					font-size: 1.8rem;
				}
				input[type="checkbox"] {
				    display:none;
				}
				input[type="checkbox"] + label span {
				    display:inline-block;
				    width:45px;
				    height:45px;
				    margin:-1px 4px 0 0;
				    vertical-align:middle;
				    background:url('../img/checkbox.png') left top no-repeat;
				    cursor:pointer;
				}
				input[type="checkbox"]:checked + label span {
				    background:url('../img/checkbox.png') left -45px no-repeat;
				}
			}
			
			#optin-section {
				font-size: 0;
				input {
					width: 50px;
					height: 50px;
					display:inline;
					vertical-align: top;
				}
				p {
					font-family: "Helvetica Neue LT Std", sans-serif;
					font-size: 1.5rem;
					width: calc(100% - 50px);
					display: inline-block;
					vertical-align: top;
				}
				input[type="checkbox"] {
				    display:none;
				}
				input[type="checkbox"] + label span {
				    display:inline-block;
				    width:45px;
				    height:45px;
				    margin:-1px 4px 0 0;
				    vertical-align:top;
				    background:url('../img/checkbox.png') left top no-repeat;
				    cursor:pointer;
				}
				input[type="checkbox"]:checked + label span {
				    background:url('../img/checkbox.png') left -45px no-repeat;
				}
			}
		
			.right {
				text-align: right;
			}

			#captcha {
				text-align: center;
				margin: 24px 0;
			}

			#submit-form {
				text-align: center;
				margin: 0 auto;
				margin-top: 45px;
			}

			#legal {
				margin-top: 60px;
				p {
					font-family: "Helvetica Neue LT Std", sans-serif;
					font-size: 1.2rem;
					&.center {
						text-align: center;
					}
				}
			}

			.entry-padding {
				padding-left: 70px;
				@include breakpoint(small) {
					padding-left: 0;
				}
			}

			@include breakpoint(small) {
				padding: 0 12px;
			}
			@include breakpoint(special) {
				.col-xs-5, .col-xs-7 {
					width: 100%;
					input {
						width: 100%;
						display: inline-block;
						&#phone1 {
							width: 20%;
							margin-right: 5%;
						}
						&#phone2 {
							width: 20%;
							margin-right: 5%;
						}
						&#phone3 {
							width: 50%;
						}
					}
				}

			}
			@include breakpoint(xxsmall) {
				.col-xs-5, .col-xs-7 {
					input {
						width: 100%;
						display: inline-block;
						&#phone1 {
							min-width: auto !important;
							width: 20%;
							margin-right: 5%;
						}
						&#phone2 {
							min-width: auto !important;
							width: 20%;
							margin-right: 5%;
						}
						&#phone3 {
							min-width: auto !important;
							width: 50%;
						}
					}
				}

			}

		}

	}
	
}
