
@font-face {
    font-family: 'dhelmedium';
    src: url('../fonts/dhelmed1-webfont.eot');
    src: url('../fonts/dhelmed1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dhelmed1-webfont.woff2') format('woff2'),
         url('../fonts/dhelmed1-webfont.woff') format('woff'),
         url('../fonts/dhelmed1-webfont.ttf') format('truetype'),
         url('../fonts/dhelmed1-webfont.svg#dhelmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
